#!/bin/bash
set -x
IMGFILE="initramfs.tgz"
sudo umount /mnt/SD
sudo rm -rf /mnt/SD
sudo mkdir -p /mnt/SD
sudo mount -t vfat /dev/mmcblk0p1 /mnt/SD
if [ $? -ne 0 ]
then
    echo "failed mounting"
    exit 1
fi
if [ -r /mnt/SD/cattlepi/apikey ]
then
    sudo mv /mnt/SD/cattlepi/apikey /tmp/cattlepi_apikey
fi
sudo rm -rf /mnt/SD/*
sudo cp $TOPDIR/"builder/latest/output"/$IMGFILE /mnt/SD/
cd /mnt/SD && sudo tar --no-same-owner -xvf $IMGFILE
sudo rm /mnt/SD/$IMGFILE
if [ -r /tmp/cattlepi_apikey ]
then
    sudo mkdir -p /mnt/SD/cattlepi
    sudo mv /tmp/cattlepi_apikey /mnt/SD/cattlepi/apikey
fi
if [ ! -z {{CATTLEPI_COPYTOSD_INITFS_POST_HOOK}} ]; then
    echo "invoking the post copy to sd hook"
    {{CATTLEPI_COPYTOSD_INITFS_POST_HOOK}}
fi
cd $TOPDIR && sudo umount /mnt/SD