#!/bin/bash
set -x
IMGFILE="initramfs.tgz"
sudo umount /mnt/SD
sudo rm -rf /mnt/SD
sudo mkdir -p /mnt/SD
sudo mount -t vfat /dev/mmcblk0p1 /mnt/SD
if [ $? -ne 0 ]
then
    echo "failed mounting"
    exit 1
fi
sudo rm -rf /mnt/SD/*
sudo cp $TOPDIR/"builder/latest/output"/$IMGFILE /mnt/SD/
cd /mnt/SD && sudo tar --no-same-owner -xvf $IMGFILE
sudo rm /mnt/SD/$IMGFILE
cd $TOPDIR && sudo umount /mnt/SD