#!/bin/bash
SELFDIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
CACHEDIR=${SELFDIR}/"cache"
mkdir -p ${CACHEDIR}

BUCKET="{{CATTLEPI_DEFAULT_S3_BUCKET}}"
BUCKET_INDEX_PATH="{{CATTLEPI_DEFAULT_S3_BUCKET_INDEX_PATH}}"

echo "executing s3 image index build - building in ${SELFDIR} w/ topdir ${TOPDIR}"
echo "running indexing for s3://${BUCKET}/${BUCKET_INDEX_PATH}"

aws s3 ls "s3://${BUCKET}/${BUCKET_INDEX_PATH}" --recursive | awk '{print $4}'> ${CACHEDIR}/"listing"

# figure out the info and the failed runs
cat ${CACHEDIR}/"listing" | grep 'info.sh$' | xargs -I {} dirname {} > ${CACHEDIR}/"listing.info"
touch ${CACHEDIR}/"listing.info"
cat ${CACHEDIR}/"listing" | grep 'failed_incomplete' | xargs -I {} dirname {} > ${CACHEDIR}/"listing.failed"
touch ${CACHEDIR}/"listing.failed"

# filter valid runs
comm -23 ${CACHEDIR}/"listing.info" ${CACHEDIR}/"listing.failed" > ${CACHEDIR}/"listing.valid"

# now split and generate the build ids
cat ${CACHEDIR}/"listing.valid" | awk -F "/" '{print $NF}' | sort -u > ${CACHEDIR}/"listing.uniqids"
INDEX_VALID=${CACHEDIR}/index.valid
rm -rf ${INDEX_VALID}
mkdir -p ${INDEX_VALID}

for UQID in $(cat ${CACHEDIR}/"listing.uniqids")
do
    VALID=1
    for RECIPE in $(cat ${TOPDIR}/"tools/autobuild/recipes.txt")
    do
        NEEDS_TO_MATCH="${BUCKET_INDEX_PATH}/${RECIPE}/${UQID}"
        grep -q ${NEEDS_TO_MATCH} ${CACHEDIR}/"listing.valid" || VALID=0
    done
    if [ ${VALID} -eq "1" ]; then
        for RECIPE in $(tac ${TOPDIR}/"tools/autobuild/recipes.txt")
        do
            BUILT_RECIPE_NFO="${BUCKET_INDEX_PATH}/${RECIPE}/${UQID}/info.sh"
            mkdir -p ${INDEX_VALID}/${UQID}/${RECIPE}
            aws s3 cp "s3://${BUCKET}/${BUILT_RECIPE_NFO}" ${INDEX_VALID}/${UQID}/${RECIPE}/"info.sh"
        done
    fi
done

OUTDIR=${SELFDIR}/"output"
OUTINDEX=${OUTDIR}/"index.md"
rm -rf ${OUTINDEX}

# build the actual index
echo '```bash' | tee -a ${OUTINDEX}
for UQID in $(ls -1 ${INDEX_VALID} | tac)
do
    echo ${UQID} | tee -a ${OUTINDEX}
    for RECIPE in $(ls -1 ${INDEX_VALID}/${UQID})
    do
        echo "  " | tee -a ${OUTINDEX}
        echo "  "${RECIPE} | tee -a ${OUTINDEX}
        cat ${INDEX_VALID}/${UQID}/${RECIPE}/"info.sh" | while read LINE
        do
            echo "    "${LINE} | tee -a ${OUTINDEX}
        done
    done
    echo "  " | tee -a ${OUTINDEX}
    echo "  " | tee -a ${OUTINDEX}
done
echo '```' | tee -a ${OUTINDEX}

echo "BUILT TO ${OUTINDEX}"

# now it's time to upload the index to s3
CATTLEPI_S3_BUILD_INDEX="global/autobuild/"
aws s3 cp "${OUTINDEX}" "s3://{{CATTLEPI_DEFAULT_S3_BUCKET}}/${CATTLEPI_S3_BUILD_INDEX}"

