#!/bin/bash
echo "executing s3 upload"
echo "${BUILDDIRLATEST}/output/ -> s3://{{CATTLEPI_DEFAULT_S3_BUCKET}}/{{CATTLEPI_DEFAULT_S3_BUCKET_PATH}}"

aws s3 sync "${BUILDDIRLATEST}/output/" "s3://{{CATTLEPI_DEFAULT_S3_BUCKET}}/{{CATTLEPI_DEFAULT_S3_BUCKET_PATH}}/"

mkdir -p ${HOME}/.cattlepi/
BUILD_IMAGE_FILE=${HOME}/.cattlepi/latest_built_image
rm -rf ${BUILD_IMAGE_FILE}
echo "# generated on $(date)" >> ${BUILD_IMAGE_FILE}
echo "INITFS={{CATTLEPI_BASE}}/images/{{CATTLEPI_DEFAULT_S3_BUCKET_PATH}}/initramfs.tgz" >> ${BUILD_IMAGE_FILE}
echo "INITFSMD5=$(md5sum ${BUILDDIRLATEST}/output/initramfs.tgz | awk '{print $1'})" >> ${BUILD_IMAGE_FILE}
echo "ROOTFS={{CATTLEPI_BASE}}/images/{{CATTLEPI_DEFAULT_S3_BUCKET_PATH}}/rootfs.sqsh" >> ${BUILD_IMAGE_FILE}
echo "ROOTFSMD5=$(md5sum ${BUILDDIRLATEST}/output/rootfs.sqsh | awk '{print $1'})" >> ${BUILD_IMAGE_FILE}
